.env
node_modules

# models
admin.model.js
course.model.js
order.model.js
purchase.model.js


config.js
index.js

# controllers
admin.controller.js
course.controller.js
order.controller.js
user.controller.js

# middlewares
admin.mid.js
user.mid.js
.env

